#main-container {
	margin-top: 50px;
	padding: 0;
}
#radio-checkboxes {
	width: 60%;
}

#error-message {
	height: 50px;
}

#footer {
	padding: 10px;
}

@media (max-width: 450px) {
	#radio-checkboxes {
		background: white !important;
	}
  }
